.home-page h1 .name {
  max-width: initial;
}

.portfolio-page h1,
.portfolio-page h2 {
  text-align: center;
}

.VPContent .VPTeamMembers .avatar-img {
  width: 100%;
}
.VPContent .VPSocialLinks {
  gap: 1rem;
}
.VPContent .VPSocialLinks a {
  width: initial;
}

.certifications-page h1 {
  text-align: center;
}
